.container {
	max-width: 1080px; !important
}

.summarytext {
  background: var(--accent);
  color: var(--background);
  text-align: left;
  font-size: 14px;
  font-weight: normal;
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.summarytext a {
  color: #1e40af;
}
