{{ $json := .Get "json" }}
{{ $height := .Get "height" | default "200px" }}
<figure class="center" style="width: 100%;">
<div id="{{$json}}" class="plotly" style="height:{{$height}}"></div>
<script>
    fetch({{$json}})
    .then(response => response.json())
    .then(fig => {
        Plotly.newPlot('{{$json}}',
                fig.data, fig.layout, {responsive: true});
    })
    .catch(error => {
        console.error('Error loading the JSON:', error);
    });
</script>
<figcaption class="center">{{ .Get "caption" | safeHTML }}</figcaption>
</figure>
