<div id="refs" class="references" role="doc-bibliography">
<div id="ref-pulsarbook">
<p>[1] D. Lorimer and M. Kramer, “Handbook of pulsar astronomy.” 2004.</p>
</div>
<div id="ref-10.1111/j.1365-2966.2010.17082.x">
<p>[2] R. P. Eatough <em>et al.</em>, “Selection of radio pulsar candidates using artificial neural networks,” <em>Monthly Notices of the Royal Astronomical Society</em>, vol. 407, no. 4, pp. 2443–2450, Jul. 2010.</p>
</div>
<div id="ref-cordes2002ne2001i">
<p>[3] J. M. Cordes and T. J. W. Lazio, “NE2001.I. A new model for the galactic distribution of free electrons and its fluctuations.” 2002.</p>
</div>
<div id="ref-bassa2016">
<p>[4] C. G. Bassa, Z. Pleunis, and J. W. T. Hessels, “Enabling pulsar and fast transient searches using coherent dedispersion.” 2016.</p>
</div>
<div id="ref-2013A&amp;A...556A...2V">
<p>[5] M. P. van Haarlem <em>et al.</em>, “LOFAR: The LOw-Frequency ARray,” vol. 556, p. A2, Aug. 2013.</p>
</div>
<div id="ref-fft">
<p>[6] J. W. Cooley and J. W. Tukey, “An algorithm for the machine calculation of complex fourier series,” <em>Mathematics of Computation</em>, vol. 19, no. 90, pp. 297–301, 1965.</p>
</div>
<div id="ref-6118316">
<p>[7] M. Garrido, J. Grajal, M. A. Sanchez, and O. Gustafsson, “Pipelined radix-<span class="math inline">2<sup><em>k</em></sup></span> feedforward fft architectures,” <em>IEEE Transactions on Very Large Scale Integration (VLSI) Systems</em>, vol. 21, no. 1, pp. 23–32, Jan. 2013.</p>
</div>
<div id="ref-dataflow_lee">
<p>[8] E. A. Lee and D. G. Messerschmitt, “Synchronous data flow,” <em>Proceedings of the IEEE</em>, vol. 75, no. 9, pp. 1235–1245, 1987.</p>
</div>
<div id="ref-staccatolab_docs">
<p>[9] C. H. van Berkel, “StaccatoLab docs,” <em>to be published</em>..</p>
</div>
<div id="ref-pmid24696799">
<p>[10] R. Amirfattahi, “Calculation of Computational Complexity for Radix-2 (p) Fast Fourier Transform Algorithms for Medical Signals,” <em>J Med Signals Sens</em>, vol. 3, no. 4, pp. 217–224, Oct. 2013.</p>
</div>
</div>
