<div id="refs" class="references" role="doc-bibliography">
<div id="ref-fft_cooley_tukey">
<p>[1] J. W. Cooley and J. W. Tukey, “An algorithm for the machine calculation of complex fourier series,” <em>Mathematics of Computation</em>, vol. 19, no. 90, pp. 297–301, 1965.</p>
</div>
<div id="ref-oppenheim_dsp">
<p>[2] A. V. Oppenheim, R. W. Schafer, and J. R. Buck, <em>Discrete-time signal processing</em>, Second. Prentice-hall Englewood Cliffs, 1999.</p>
</div>
<div id="ref-mookherjee_radix_4_par">
<p>[3] S. Mookherjee, L. DeBrunner, and V. DeBrunner, “A high throughput and low power radix-4 fft architecture,” in <em>2014 48th asilomar conference on signals, systems and computers</em>, 2014, pp. 1266–1270.</p>
</div>
<div id="ref-utwente_fft">
<p>[4] S. Dirlik, “A comparison of fft processor designs.” 2013.</p>
</div>
<div id="ref-garrido_architecture_par">
<p>[5] M. Garrido, J. Grajal, M. A. Sanchez, and O. Gustafsson, “Pipelined radix-<span class="math inline">2<sup><em>k</em></sup></span> feedforward fft architectures,” <em>IEEE Transactions on Very Large Scale Integration (VLSI) Systems</em>, vol. 21, no. 1, pp. 23–32, Jan. 2013.</p>
</div>
<div id="ref-garrido_1M">
<p>[6] H. Kanders, T. Mellqvist, M. Garrido, K. Palmkvist, and O. Gustafsson, “A 1 million-point fft on a single fpga,” <em>IEEE Transactions on Circuits and Systems I: Regular Papers</em>, vol. 66, no. 10, pp. 3863–3873, Oct. 2019.</p>
</div>
<div id="ref-lee_MDF">
<p>[7] Hang Liu and Hanho Lee, “A high performance four-parallel 128/64-point radix-24 fft/ifft processor for mimo-ofdm systems,” in <em>APCCAS 2008 - 2008 ieee asia pacific conference on circuits and systems</em>, 2008, pp. 834–837.</p>
</div>
<div id="ref-wang_MDF">
<p>[8] J. Wang, C. Xiong, K. Zhang, and J. Wei, “A mixed-decimation mdf architecture for radix- <span class="math inline">2<sup><em>k</em></sup></span> parallel fft,” <em>IEEE Transactions on Very Large Scale Integration (VLSI) Systems</em>, vol. 24, no. 1, pp. 67–78, Jan. 2016.</p>
</div>
<div id="ref-wang_SDC">
<p>[9] Z. Wang, X. Liu, B. He, and F. Yu, “A combined sdc-sdf architecture for normal i/o pipelined radix-2 fft,” <em>IEEE Transactions on Very Large Scale Integration (VLSI) Systems</em>, vol. 23, no. 5, pp. 973–977, May 2015.</p>
</div>
<div id="ref-yang_MDC">
<p>[10] J. Yang, D. Zhang, Y. Gong, and B. Liu, “A novel design of pipeline mdc-fft processor based on various memory access mechanism,” in <em>2016 international conference on cyber-enabled distributed computing and knowledge discovery (cyberc)</em>, 2016, pp. 62–65.</p>
</div>
<div id="ref-mookherjee_radix2_par">
<p>[11] S. Mookherjee, L. DeBrunner, and V. DeBrunner, “A low power radix-2 fft accelerator for fpga,” in <em>2015 49th asilomar conference on signals, systems and computers</em>, 2015, pp. 447–451.</p>
</div>
<div id="ref-garrido_100GS">
<p>[12] M. Garrido, K. Möller, and M. Kumm, “World’s fastest fft architectures: Breaking the barrier of 100 gs/s,” <em>IEEE Transactions on Circuits and Systems I: Regular Papers</em>, vol. 66, no. 4, pp. 1507–1516, 2019.</p>
</div>
<div id="ref-50yearscordic">
<p>[13] P. K. Meher, J. Valls, T. Juang, K. Sridharan, and K. Maharatna, “50 years of cordic: Algorithms, architectures, and applications,” <em>IEEE Transactions on Circuits and Systems I: Regular Papers</em>, vol. 56, no. 9, pp. 1893–1907, 2009.</p>
</div>
<div id="ref-VSFCORDIC">
<p>[14] Y. Xue and Z. Ma, “Design and implementation of an efficient modified cordic algorithm,” in <em>2019 ieee 4th international conference on signal and image processing (icsip)</em>, 2019, pp. 480–484.</p>
</div>
<div id="ref-garrido_CORDIC">
<p>[15] M. Garrido, P. Källström, M. Kumm, and O. Gustafsson, “CORDIC ii: A new improved cordic algorithm,” <em>IEEE Transactions on Circuits and Systems II: Express Briefs</em>, vol. 63, no. 2, pp. 186–190, Feb. 2016.</p>
</div>
</div>
