<div id="refs" class="references" role="doc-bibliography">
<div id="ref-dataflow_lee">
<p>[1] E. A. Lee and D. G. Messerschmitt, “Synchronous data flow,” <em>Proceedings of the IEEE</em>, vol. 75, no. 9, pp. 1235–1245, 1987.</p>
</div>
<div id="ref-pulsarbook">
<p>[2] D. Lorimer and M. Kramer, “Handbook of pulsar astronomy.” 2004.</p>
</div>
<div id="ref-1971ApJ...164..249L">
<p>[3] K. R. Lang, “Interstellar Scintillation of Pulsar Radiation,” vol. 164, p. 249, Mar. 1971.</p>
</div>
<div id="ref-2005ASPC..340..419L">
<p>[4] T. J. W. Lazio, “Interstellar Scattering,” in <em>Future directions in high resolution astronomy: The 10th anniversary of the vlba, asp conference proceedings, vol. 340. Edited by j. Romney and m. Reid. San francisco: Astronomical society of the pacific, 2005., p.419</em>, vol. 340, J. Romney and M. Reid, Eds. 2005, p. 419.</p>
</div>
<div id="ref-dispersion_observation">
<p>[5] T. U. of Manchester Jodrell Bank Observatory, “Observations of pulsars.”.</p>
</div>
<div id="ref-cordes2002ne2001i">
<p>[6] J. M. Cordes and T. J. W. Lazio, “NE2001.I. A new model for the galactic distribution of free electrons and its fluctuations.” 2002.</p>
</div>
<div id="ref-Levin_2017">
<p>[7] L. Levin <em>et al.</em>, “Pulsar searches with the ska,” <em>Proceedings of the International Astronomical Union</em>, vol. 13, no. S337, pp. 171–174, Sep. 2017.</p>
</div>
</div>
